@model List<DroneShipper.BusinessFacade.BaseInfo>

@{
    ViewBag.Title = "Add Drone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Add Drone</h2>

    @using (Html.BeginForm())
    {

        <div class="form-horizontal jumbotron">

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-3">
                    <input type="text" name="name" id="name" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="maxWeight" class="col-sm-2 control-label">Max Weight:</label>
                <div class="col-sm-3">
                    <input type="text" name="maxWeight" id="maxWeight" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="baseId" class="col-sm-2 control-label">Create in base:</label>
                <div class="col-sm-3">
                    <select name="baseId" id="baseId" class="form-control">
                        @foreach (var baseInfo in Model) {
                            <option value="@baseInfo.Id">@baseInfo.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>

        </div>
    }

