@model dynamic

@{
    Layout = null;
}

    <br /><br />
    <a href="Shipments">Shipments</a> 
    |
    <a href="Drones">Drones</a>
    |
    <a href="Bases">Bases</a>
    |
    <a href="Activity">Activity</a>
