@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Drone Shipper</title>
</head>
<body>
<div>
    <br /><br />
    <a href="Shipments">Shipments</a> 
    |
    <a href="Drones">Drones</a>
    |
    <a href="Bases">Bases</a>
</div>
</body>
</html>