@model dynamic

@{
    ViewBag.Title = "Welcome To The Drone Delivery System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h3>Welcome To The Drone Delivery System</h3>
</div>

