@{
    ViewBag.Title = "Add Shipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Shipment</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal jumbotron">

        <div class="panel">
            @if (ViewBag.Logs != null) {
                <h4>Shipment Log</h4>
                <table class="table table-striped">
                    <tr>
                        <th>Drone Id</th>
                        <th>Date (UTC)</th>
                        <th>Message</th>
                    </tr>
                    @foreach (var log in ViewBag.Logs) {
                        <tr>
                            <td>@log.DroneId</td>
                            <td>@log.DateTimeUtc</td>
                            <td>@log.Message</td>
                        </tr>
                    }
                </table>

            }
        </div>

        <div class="form-group">
            <span class="col-sm-2 control-label"><h3>From</h3></span>
        </div>

        <div class="form-group">
            <label for="sourceAddress" class="col-sm-2 control-label">Address:</label>
            <div class="col-sm-3">
                <input type="text" name="sourceAddress" id="sourceAddress" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="sourceCity" class="col-sm-2 control-label">City:</label>
            <div class="col-sm-3">
                <input type="text" name="sourceCity" id="sourceCity" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="sourcePostalCode" class="col-sm-2 control-label">Postal Code:</label>
            <div class="col-sm-3">
                <input type="text" name="sourcePostalCode" id="sourcePostalCode" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="col-sm-2 control-label"><h3>To</h3></span>
        </div>

        <div class="form-group">
            <label for="destinationAddress" class="col-sm-2 control-label">Address:</label>
            <div class="col-sm-3">
                <input type="text" name="destinationAddress" id="destinationAddress" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="destinationCity" class="col-sm-2 control-label">City:</label>
            <div class="col-sm-3">
                <input type="text" name="destinationCity" id="destinationCity" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="destinationPostalCode" class="col-sm-2 control-label">Postal Code:</label>
            <div class="col-sm-3">
                <input type="text" name="destinationPostalCode" id="destinationPostalCode" class="form-control" />
            </div>
        </div>
        
        <br/>

        <div class="form-group">
            <label for="weight" class="col-sm-2 control-label">Wight:</label>
            <div class="col-sm-3">
                <input type="text" name="weight" id="weight" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
