@model System.String

@{
    ViewBag.Title = "Welcome To The Drone Delivery System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activity</h2>

<style>
    #map {
        width: 1200px;
        height: 800px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/maplabel/src/maplabel-compiled.js"></script>

<script>
    debugger;
    var markers = [@Html.Raw(Model)];

    function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
            center: new google.maps.LatLng(43.876100, -79.429298),
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);

        for (i = 0; i < markers.length; i++) {
            var marker = markers[i];

            new google.maps.Marker({
                position: new google.maps.LatLng(marker.latitude, marker.longitude),
                map: map,
                label: marker.name,
                icon: marker.icon
            });

            new MapLabel({
                text: marker.name,
                position: new google.maps.LatLng(marker.latitude, marker.longitude),
                map: map,
                fontSize: 15,
                align: 'right'
            });

        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);


</script>

<div id="map"></div>