@{
    ViewBag.Title = "Welcome To The Drone Delivery System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activity</h2>

<style>
    #map {
        width: 500px;
        height: 400px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/maplabel/src/maplabel-compiled.js"></script>

<script>

    var drones = [@Html.Raw(ViewBag.DroneArray)];

    function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
            center: new google.maps.LatLng(43.85657, -79.37895),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);

        for (i = 0; i < drones.length; i++) {
            var drone = drones[i];

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(drone.latitude, drone.longitude),
                map: map,
                title: drone.name
            });

            var mapLabel = new MapLabel({
                text: drone.name,
                position: new google.maps.LatLng(drone.latitude, drone.longitude),
                map: map,
                fontSize: 15,
                align: 'right'
            });

        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);


</script>

<div id="map"></div>